<nav class="navbar navbar-expand-lg" style="
  background-color: hsl(0, 84%, 78%);
  padding-left: 4%;
  padding-right: 4%;
">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b style="font-weight: 800; font-size: 25px;">ibLOG</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" style=" font-size: 17px; display: flex; justify-content: center; align-items: center;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <% if (typeof user==='undefined' || user===null) { %>
          <li class="nav-item">
            <a class="nav-link" href="/user/signup">Create Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/signin">Signin</a>
          </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/blog/createBlog">Add Blog</a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <%= user.fullname %>
              </a>
              <ul class="dropdown-menu" style="background-color: hsl(0, 84%, 95%); border-radius: 0%;">
                <li><a class="dropdown-item" href="/user/dashboard">Dashboard</a></li>
                <li><a class="dropdown-item" href="/user/logout">Log Out ✅</a></li>
              </ul>
            </li>
             <li class="nav-item">
              <% if (user.profileimgURL!="undefined" ) { %>
                <div style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden; display: inline-block;">
                  <img src="/<%= user.profileimgURL %>" alt="profileImg"
                    style="width: 100%; height: 100%; object-fit: cover; display: block;">
                </div>

                <% }else{ %>
                  <img src="/images/default.png" alt="profileImg" style="width: 50px;">
                  <% } %>
            </li>
            <% } %>

      </ul>
    </div>
  </div>
</nav>